# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
*.user
Colinas.Views.cs
# mstest test results
TestResults
Colinas.Designer.cs
COCASJOL/COCASJOL.WEBSITE/obj/
COCASJOL/Dependencies/EFTracing/AspNetCachingDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COCASJOL/Dependencies/EFTracing/AspNetCachingDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COCASJOL/Dependencies/EFTracing/AspNetCachingDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COCASJOL/Dependencies/EFTracing/ConfigOnlyInjection/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COCASJOL/Dependencies/EFTracing/EFCachingProvider.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COCASJOL/Dependencies/EFTracing/EFCachingProvider.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COCASJOL/Dependencies/EFTracing/EFProviderWrapperDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
COCASJOL/Dependencies/EFTracing/EFProviderWrapperDemo/obj/Debug/EFProviderWrapperDemo.csproj.FileListAbsolute.txt
COCASJOL/COCASJOL.WEBSITE/App_Data/
