<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    </configSections>

    <extnet scriptMode="Debug" theme="Slate" locale="es-HN" />
    
    <connectionStrings>
        <add name="colinasEntities" connectionString="metadata=res://*/Colinas.csdl|res://*/Colinas.ssdl|res://*/Colinas.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=colinas;password=root;&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0">
          <assemblies>
              <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          </assemblies>
      </compilation>
      <sessionState timeout="15" />
      <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
        <error statusCode="404" redirect="~/404.aspx" />
      </customErrors>
      <httpHandlers>
        <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      </httpHandlers>
      <httpModules>
        <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
      </httpModules>
    </system.web>
  <system.data>
    <DbProviderFactories>
      <add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
     </DbProviderFactories>
  </system.data>
  <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
        </modules>
        <handlers>
            <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
        </handlers>
    </system.webServer>
  <appSettings>
    <add key="numerosALetrasLocalizacion" value="en-US" />
    <add key="numerosALetrasSeparadorDecimalSalida" value="Quintales con" />
    <add key="numerosALetrasMascaraSalidaDecimal" value="Libras" />
    <add key="numerosALetrasConvertirDecimales" value="true" />
    <add key="privilegesXML" value="~/resources/xml/Privilegios.xml" />
    <add key="variablesDeEntornoXML" value="~/resources/xml/VariablesDeEntorno.xml" />
  </appSettings>
</configuration>