<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="colinasEntities" connectionString="metadata=res://*/Colinas.csdl|res://*/Colinas.ssdl|res://*/Colinas.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=colinas;password=root;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>