.start-button
{
    background-image: url(../images/cocasjol_start_button.gif) !important;
}

.shortcut-icon
{
    width: 48px;
    height: 48px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/window.png", sizingMethod="scale");
}

.icon-grid48
{
    background-image: url(../images/grid48x48.png) !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/grid48x48.png", sizingMethod="scale");
}

.icon-usuarios
{
    background-image: url(../images/user.png) !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/user.png", sizingMethod="scale");
}

.icon-roles
{
    background-image: url(../images/gear_in.png) !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/gear_in.png", sizingMethod="scale");
}

.icon-socios
{
    background-image: url(../images/group.png) !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/group.png", sizingMethod="scale");
}

.icon-tiposDeProducto
{
    background-image: url(../images/basket_put.png) !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/basket_put.png", sizingMethod="scale");
}

.icon-productos
{
    background-image: url(../images/basket.png) !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/basket.png", sizingMethod="scale");
}

.icon-window48
{
    background-image: url(../images/window48x48.png) !important;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/window48x48.png", sizingMethod="scale");
}

#poweredby
{
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 15000; /* IE 5-7 */
    filter: alpha(opacity=70); /* Netscape */
    -moz-opacity: 0.7; /* Safari 1.x */
    -khtml-opacity: 0.7; /* Good browsers */
    opacity: 0.7;
}
#poweredby div
{
    position: relative;
    width: 104px;
    height: 50px;
    background-image: url(../images/dev-by-unitec.png);
    background-repeat: no-repeat;
}
/* The simple background image PNG does not work in IE6-8, but does in IE9 */
.x-ie6 #poweredby div, .x-ie7 #poweredby div, .x-ie8 #poweredby div
{
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/dev-by-unitec.png', sizingMethod='scale');
}