.start-button
{
    background-image: url(../images/cocasjol_start_button.gif) !important;
}

.labelCell
{
    text-align:justify;
    cursor: pointer;
}

#poweredby
{
    position: absolute;
    bottom: 1px;
    right: 10px;
    z-index: 15000; /* IE 5-7 */
    filter: alpha(opacity=70); /* Netscape */
    -moz-opacity: 0.7; /* Safari 1.x */
    -khtml-opacity: 0.7; /* Good browsers */
    opacity: 0.7;
}

#poweredby div
{
    position: relative;
    width: 52px;
    height: 28px;
    background-image: url(../images/dev-by-unitec.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

/* The simple background image PNG does not work in IE6-8, but does in IE9 */
.x-ie6 #poweredby div, .x-ie7 #poweredby div, .x-ie8 #poweredby div
{
    background-image: none;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../resources/images/dev-by-unitec.png', sizingMethod='scale');
}

.desktop_body
{
    background-image: url(../images/Logo_COCASJOL.jpg);
    background-repeat: no-repeat;
    background-position: center;
}